@media(max-width: 992px) {
    .modal-window__cart {
        max-width: 90%;
    }
}


@media(max-width: 768px) {
    .modal-window__cart {
        max-width: 65%;


    }

    .btn {
        &:focus {
            &:hover {
                background-color: #fff;

            }
        }
    }

    .divider {
        display: none;
    }

    .cart-item {
        flex-wrap: wrap;

        .title__modification {
            order: 1;
        }

        .title.title--font-size-24 {
            order: 2;
        }

        .quantity-block {
            order: 3;

        }

        .btn.btn--border-color.btn--padding18 {
            order: 4;
        }
    }

    .title.title--font-size-17 {
        font-size: 20px;

    }

    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-item {
        &__img {
            img {
                width: 167px;
            }
        }

        &__desc {
            font-size: 11px;
        }
    }

    .title.title--font-size-18 {
        font-size: 15px;
    }

    .cart-item {
        flex-direction: column;
        padding: 20px 12px;

        .btn.btn--border-color.btn--padding18 {
            display: flex;
            justify-content: center;

        }

        .quantity-block {
            margin-bottom: 10px;
        }
    }

    .to-cart-page {
        .btn.btn--size-lg {
            padding: 12px 63px;
        }

        span {
            font-size: 13px;
        }
    }
}



@media(max-width: 575px) {


    .modal-window__cart {
        width: 400px;
        max-width: 90%;
        padding: 20px 20px;

        .to-cart-page {

            &__total {
                font-size: 24px;
            }
        }
    }

    .products-list {
        display: flex;
        flex-direction: column;
    }

    .product-item {
        margin: 0 auto;
        width: 310px;
        max-width: 100%;

        .title.title--font-size-18 {
            font-size: 20px;
        }
    }

    .cart-list {
        padding: 0px;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    .to-cart-page {
        .btn.btn--size-lg {
            padding: 12px 36px;

        }
    }
}