.cart-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cart-list {
        padding: 0px 34px 0 0;
    }
}

.total-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
    max-height: 240px;
    background-color: rgb(255, 255, 255);
    padding: 30px 21px;
    border: 1px solid #E5E5E5;
    border-radius: $border-radius;


}

.total-price {
    &__num {
        font-weight: 500;
        font-size: 40px;
        color: #009688;

    }
}


//media requests

@media(max-width: 992px) {
    .cart-content {
        padding: 0 60px;
        flex-direction: column;

        .cart-list {
            padding: 0;
        }
    }
}

@media(max-width: 575px) {
    .cart-content {
        padding: 0;

        .btn--size-lg {
            padding: 12px 58px;
        }
    }

    .total-price {
        .title__name {
            font-weight: 500;
            font-size: 30px;
        }

        &__num {
            font-size: 35px;
        }
    }
}