.btn {
    font-weight: 600;
    background-color: #fff;
    border: 1px solid $main-color;
    padding: 5px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

    &:hover {
        background-color: #d7f8f6;
    }

    &:active {
        background-color: #b6c2c0;
    }

    &:focus {
        outline: none;
    }

    &--bg-color-accent {
        color: #fff;
        background-color: $main-color;

        &:hover {
            background-color: #4e9c94;
        }

        &:active {
            background-color: #01645a;
        }

        &:focus {
            outline: none;
        }
    }

    &--size-lg {
        padding: 12px 84px;
    }

    &--icon {
        padding-left: 17px;
        padding-right: 17px;
    }

    &__icon {
        margin-left: 19px;
    }

    &--border-color-white {
        border-color: #fff;
    }

    &--weight-normal {
        font-weight: 400;
    }

    &--padding12 {
        padding: 4px 12px;
        min-height: auto;
    }

    &--padding22 {
        padding: 6px 22px;
    }

    &--font-size-22 {
        font-size: 22px;
    }

    &--border-color {
        border-color: $border-color;
    }

    &--padding18 {
        padding: 6px 18px;
    }


}