.btn {
    font-weight: 600;
    background-color: #fff;
    border: 1px solid $main-color;
    padding: 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;

    &:hover {
        background-color: #d7f8f6;
    }
    &:active {
        background-color: #4c5755;
    }
    &:focus{
        outline: none;
    }

    &--bg-color {
        color: #fff;
        background-color: $main-color;

        &:hover {
            background-color: #849b99;
        }
        &:active {
            background-color: #4c5755;
        }
        &:focus{
            outline: none;
        }
    }

    &--icon {
        padding-left: 17px;
        padding-right: 17px;
    }
    &__icon{
        margin-left: 19px;
    }
    &--border-color-white {
        border-color: #fff;
    }
    &--weight-normal {
        font-weight: 400;
    }
    &--padding12 {
        padding: 4px 12px;
        min-height: auto;
    }
    &--padding22 {
        padding: 6px 22px;
    }
    &--font-size-22 {
        font-size: 22px;
    }
    &--border-color {
        border-color: $border-color;
    }
    &--padding18 {
        padding: 6px 18px;
    }

    &--width-228 {
        width: 228px;
    }

    
}

